section {
    //border: 2px solid white;
    padding: 2rem 3rem;
    height: 100vh;
    max-width: 90vw;
    margin: 0 auto;
    scroll-snap-align: start;

    * {
        width: fit-content;
        //border: solid black;
    }

    .section-title {
        //border: 2px solid var(--accent);
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0;

        h2 {
            font-family: 'Merriweather', serif;
            font-size: 2.5em;
            white-space: nowrap;
            display: inline-block;
            margin-bottom: 2rem;
            padding-right: 2rem;
        }

        .title-line {
            height: 5px;
            min-width: 30px;
            background: linear-gradient(90deg, var(--accent), transparent);
            flex-grow: 1;
            align-self: center;
            margin-bottom: 1.5em;
        }
    }

    p {
        padding: 0.25em;
        font-size: 1.5em;
        //margin-bottom: 2rem;
       // transition: transform 0.3s ease;
        width: 70%;
        margin: auto auto 2rem auto;
    }
}