div {
    margin: 0 auto;
    padding: 0 2%;
    background: var(--bg-dark);
    color: var(--text-main);

    h1,
    h2 {
        font-style: normal;
        // text-align: left;
        // letter-spacing: 0em;
        font-variant: small-caps;

        :first-letter {
            color: var(--accent);
        }
    }

    >* {
        // padding: 0;
        //border: solid white;
    }

    #title-container {
        width: fit-content;
        //height: 100vh;
        padding: 4rem 2rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5;
        //text-align: center;

        // :first-letter {
        //     color: var(--accent);
        // }

        h1, b {
            font-size: 2.5rem;
            color: var(--accent);

        }

        h2 {
            font-weight: lighter;
            font-size: 1.5rem;
        }

        h1,
        h2 {
            font-family: 'Merriweather', serif;
            margin-bottom: 0.5rem;
            width: fit-content;
            //text-align: left;
        }

        // :first-child, :last-child{
        //     display: block;
        //     width: 100%;
        // }
        .personal-img {
            height: 13em;
            margin: 5% 3%;
            object-fit: cover;
            border-radius: 55% / 50%;
            border: 0.5em solid rgba(138, 137, 137, 0.45);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        }

        span{
            color: var(--accent);
        }
    }
}

nav {
    //border: 1px solid black;
    width: 100%;
    padding: 0.3rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card-bg);
    border-bottom: 2px solid var(--accent);
    scroll-snap-align: start;

    a{
        margin: 0;
        padding: 0;
    }
    .logo {
        height: 2rem;
        margin: 0;
        padding: auto;
    }

    #logo {
        background-color: var(--card-bg);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 6vh;
        font-size: 0.3rem;

        //width: fit-content;

    img {
        color: var(--accent);
        height: 2rem;
        margin: 0 5%;
    }

        p::first-letter {
            font-weight: bolder;
            font-size: 3em;
        }

        span {
            white-space: nowrap;
            //overflow: hidden; text-overflow: ellipsis;
            font-weight: bolder;
            font-size: 1.2em;
            //border: 1px solid black;
        }
    }
}